html {
    background: linear-gradient(135deg, #434343 10%, #000000 100%) no-repeat center center fixed;
}

.App {
  text-align: center;
}

.win-text {
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.loss-text {
    background-color: #eb4511;
    background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
}

.pick-team-name {
    font-size: 20px;
    display: inline-block;
    width: 37%;
    margin: auto;
    padding-right: 2em;
    padding-top: 10px;
}

.picks-value {
    font-size: 50px;
    margin: auto;
}

.logo-img {
    width: 30%;
    flex-basis: auto;
    display: inline-block;
}

.checkmark {
    position: relative;
    display: flex;
    transform: rotate(45deg);
    height: 250px;
    width: 120px;
    margin-left: 60%; 
    border-bottom: 7px solid #78b13f;
    border-right: 7px solid #78b13f;
  }

  .my-background {
    background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);
  }

